/* styles.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.header-left {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 20px;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 1px;
}

.header-right {
  display: flex;
  align-items: center;
}

.search-bar {
  height: 35px;
  width: 615px;
  margin-right: 15rem;
  border: rgb(15, 15, 15);
  background-color: rgb(15, 15, 15);
  color: whitesmoke;
}