/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.header-left {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  display: inline-block;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin-right: 6px;
  margin: 5px;
  transition: transform 0.3s ease-in-out;
}

.bar:last-child {
  margin-right: 0;
}

.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.header-right {
  display: none;
}

.header-right.open {
  display: block;
}

.header-right ul li {
  display: inline-block;
  margin-right: 20px; /* Add some space between list items */
}

.header-right ul li:last-child {
  margin-right: 0; /* Remove margin from the last list item */
}

.header-right ul li a {
  color: white;
  text-decoration: none;
}

